@font-face {
    font-family: starwars;
    src: url('../../assets/fonts/starjedi/Starjedi.ttf')
}


.info-container {
    height: 40em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    
    gap: 20px;
}

.film-info {
    background-color: black;
    color: black;
    -webkit-text-stroke: 0.5px yellow;
    font-family: starwars;
    border: 2px solid yellow;
    border-radius: 20px;
    height: 10em;
    text-align: center;
    padding-top: 1em;
}

.text-container {
    text-align: center;
    width: 18em;
    margin: 0 auto;
}

#popover {
    background-color: rgb(0, 0, 0);
    color: black;
    -webkit-text-stroke: 0.5px yellow;
    font-family: starwars;
    border: 2px solid yellow;
    padding-right: 2em;
    padding-left: 1em;
    
}

#popover p {
    text-align: center;
    font-size: .8em;
}

#popover ul {
    list-style: none;
}

.opening {
    font-size: 0.7em;
    padding: 1em;
    margin-top: 1em;
    -webkit-text-stroke: 0;
    color: yellow;
    // border: 1px solid yellow;
}