@font-face {
    font-family: starwars;
    src: url('../../assets/fonts/starjedi/Starjedi.ttf')
}


.planet-container {
    height: 60em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    
    gap: 20px;
}

.planet-info {
    background-color: black;
    color: black;
    -webkit-text-stroke: 0.5px yellow;
    font-family: starwars;
    border: 2px solid yellow;
    border-radius: 20px;
    height: 10em;
    text-align: center;
    padding-top: 1em;
}

.text-container {
    text-align: center;
    width: 18em;
    margin: 0 auto;
}

#popover {
    background-color: rgb(0, 0, 0);
    color: black;
    -webkit-text-stroke: 0.5px yellow;
    font-family: starwars;
    border: 2px solid yellow;
    padding-right: 2em;
    padding-left: 1em;
    
}

#popover p {
    text-align: center;
    font-size: 1.2em;
}

#popover ul {
    list-style: none;
}